/UnitTest1/Release
/UnitTest1/Debug
/UnitTest1/x64
/MatrixMult/*.txt
/MatrixMult/test/answer
/tests.txt
/MatrixMult/test/input62.txt
/MatrixMult/test/input63.txt
/MatrixMult/test/input64.txt
/MatrixMult/test/input21.txt
/MatrixMult/test/input22.txt
/MatrixMult/test/input23.txt
/MatrixMult/test/input24.txt
/MatrixMult/test/input25.txt
/MatrixMult/test/input26.txt
/MatrixMult/test/input27.txt
/MatrixMult/test/input28.txt
/MatrixMult/test/input29.txt
/MatrixMult/test/input30.txt
/MatrixMult/test/input31.txt
/MatrixMult/test/input32.txt
/MatrixMult/test/input33.txt
/MatrixMult/test/input34.txt
/MatrixMult/test/input35.txt
/MatrixMult/test/input36.txt
/MatrixMult/test/input37.txt
/MatrixMult/test/input38.txt
/MatrixMult/test/input39.txt
/MatrixMult/test/input40.txt
/MatrixMult/test/input41.txt
/MatrixMult/test/input42.txt
/MatrixMult/test/input43.txt
/MatrixMult/test/input44.txt
/MatrixMult/test/input45.txt
/MatrixMult/test/input46.txt
/MatrixMult/test/input47.txt
/MatrixMult/test/input48.txt
/MatrixMult/test/input49.txt
/MatrixMult/test/input50.txt
/MatrixMult/test/input51.txt
/MatrixMult/test/input52.txt
/MatrixMult/test/input53.txt
/MatrixMult/test/input54.txt
/MatrixMult/test/input55.txt
/MatrixMult/test/input56.txt
/MatrixMult/test/input57.txt
/MatrixMult/test/input58.txt
/MatrixMult/test/input59.txt
/MatrixMult/test/input60.txt
/MatrixMult/test/input61.txt
/MatrixMult/test/output54.txt
/MatrixMult/test/output55.txt
/MatrixMult/test/output56.txt
/MatrixMult/test/output57.txt
/MatrixMult/test/output58.txt
/MatrixMult/test/output59.txt
/MatrixMult/test/output60.txt
/MatrixMult/test/output61.txt
/MatrixMult/test/output62.txt
/MatrixMult/test/output63.txt
/MatrixMult/test/output64.txt
/MatrixMult/test/output21.txt
/MatrixMult/test/output22.txt
/MatrixMult/test/output23.txt
/MatrixMult/test/output24.txt
/MatrixMult/test/output25.txt
/MatrixMult/test/output26.txt
/MatrixMult/test/output27.txt
/MatrixMult/test/output28.txt
/MatrixMult/test/output29.txt
/MatrixMult/test/output30.txt
/MatrixMult/test/output31.txt
/MatrixMult/test/output32.txt
/MatrixMult/test/output33.txt
/MatrixMult/test/output34.txt
/MatrixMult/test/output35.txt
/MatrixMult/test/output36.txt
/MatrixMult/test/output37.txt
/MatrixMult/test/output38.txt
/MatrixMult/test/output39.txt
/MatrixMult/test/output40.txt
/MatrixMult/test/output41.txt
/MatrixMult/test/output42.txt
/MatrixMult/test/output43.txt
/MatrixMult/test/output44.txt
/MatrixMult/test/output45.txt
/MatrixMult/test/output46.txt
/MatrixMult/test/output47.txt
/MatrixMult/test/output48.txt
/MatrixMult/test/output49.txt
/MatrixMult/test/output50.txt
/MatrixMult/test/output51.txt
/MatrixMult/test/output52.txt
/MatrixMult/test/output53.txt
/MatrixMult/test/output14.txt
/MatrixMult/test/output15.txt
/MatrixMult/test/output16.txt
/MatrixMult/test/output17.txt
/MatrixMult/test/output18.txt
/MatrixMult/test/output19.txt
/MatrixMult/test/output20.txt
/MatrixMult/test/output1.txt
/MatrixMult/test/output2.txt
/MatrixMult/test/output3.txt
/MatrixMult/test/output4.txt
/MatrixMult/test/output5.txt
/MatrixMult/test/output6.txt
/MatrixMult/test/output7.txt
/MatrixMult/test/output8.txt
/MatrixMult/test/output9.txt
/MatrixMult/test/output10.txt
/MatrixMult/test/output11.txt
/MatrixMult/test/output12.txt
/MatrixMult/test/output13.txt
/MatrixMult/test/input13.txt
/MatrixMult/test/input14.txt
/MatrixMult/test/input15.txt
/MatrixMult/test/input16.txt
/MatrixMult/test/input17.txt
/MatrixMult/test/input18.txt
/MatrixMult/test/input19.txt
/MatrixMult/test/input20.txt
/MatrixMult/test/input1.txt
/MatrixMult/test/input2.txt
/MatrixMult/test/input3.txt
/MatrixMult/test/input4.txt
/MatrixMult/test/input5.txt
/MatrixMult/test/input6.txt
/MatrixMult/test/input7.txt
/MatrixMult/test/input8.txt
/MatrixMult/test/input9.txt
/MatrixMult/test/input10.txt
/MatrixMult/test/input11.txt
/MatrixMult/test/input12.txt
/MatrixMult/test/answer/*.txt
